.hero{

    min-height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(at 25% 30%, #1a1a1a, transparent 60%),
            radial-gradient(at 75% 70%, #0d0d0d, transparent 60%),
            #181818;        
    color: white;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 6rem 80px;
    padding: 0rem 2rem;
}

.hero-content{
    padding:2rem 4rem;
    text-align: center;
    
}

.hero-title{
    font-size: 4.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: -1px;
}

.hero-description{
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
    margin-top: 0.5rem;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media(max-width: 1024px) {

    .hero-title{
        font-size: 3.5rem;
        margin-bottom: 0.5rem;
    }

    .hero-description{
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;
    }
}

@media(max-width: 768px) {

    .hero{
        margin: 6rem 2rem;
        min-height: 70vh;
        background: radial-gradient(at 25% 30%, #1a1a1a, transparent 60%),
            radial-gradient(at 75% 70%, #0d0d0d, transparent 60%),
            #181818; 
        
    }
    .hero-content{
        padding: 0rem;
    }
    .hero-title{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .hero-description{
        font-size: 1rem;
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;
    }
    .hero-buttons{
        display: flex;
        align-items: flex-start;
    }
}


@media(max-width: 480px) {

    .hero{
        margin: 6rem 1rem;
        margin-bottom: 4rem;
        min-height: 70vh;
        background: radial-gradient(at 25% 30%, #1a1a1a, transparent 60%),
            radial-gradient(at 75% 70%, #0d0d0d, transparent 60%),
            #181818; 
    }
    .hero-content{
        padding: 0rem;
    }
    .hero-title{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    .hero-description{
        font-size: 1rem;
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;
    }
    
    .hero-buttons{
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        
    }
    

}
