.contact-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact-form {
  width: 100%;
  max-width: 450px;
  padding: 2rem 2.4rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background:linear-gradient(135deg, #1a1a1a, #141414);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 1.4rem;
}

.contact-form label {
  display: block;
  margin-bottom: 6px;
  color: #c0c0c0;
  font-weight: 500;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background-color:#1a1a1a;
  padding: 1rem 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 15px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #6a5acd;
}

.contact-form Button{
    align-content: center;
}
